name: Kodi Addon-Check (Matrix)

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - v*
  pull_request:
    branches:
      - '*'

jobs:
  kodi-addon-checker-matrix:
          runs-on: ubuntu-latest
          name: Kodi addon checker
          steps:
          - name: Checkout
            uses: actions/checkout@v1

          - name: Kodi addon checker validation (matrix)
            id: kodi-addon-checker-krypton
            uses: xbmc/action-kodi-addon-checker@v1.2
            with:
              kodi-version: matrix
              is-pr: false
              addon-id: ${{ github.event.repository.name }}
              rewrite-for-matrix: true
