name: Kodi Addon-Check (Krypton)

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - v*
  pull_request:
    branches:
      - '*'

jobs:
  kodi-addon-checker-krypton:
    runs-on: ubuntu-latest
    name: Kodi addon checker

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Kodi addon checker validation (krypton)
      id: kodi-addon-checker-krypton
      uses: xbmc/action-kodi-addon-checker@v1.2
      with:
        kodi-version: krypton
        is-pr: false
        addon-id: ${{ github.event.repository.name }}
